<section class="section" id="contacto">
    <div class="columns is-multiline is-centered">
        <div class="column is-two-thirds has-text-centered">
            <h1 class="title">Mándanos un mensaje!</h1>
        </div>
        <form class="column is-two-thirds" action="https://formspree.io/yosept.flores@gmail.com" method="post">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" name="nombre">Nombre</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="text" placeholder="Name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left has-icons-right">
                            <input class="input is-success" type="email" placeholder="Email" name="correo" value="correo@mail.com">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    +52
                                </a>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="tel" name="celular" placeholder="Tu numero">
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">¿Ya estas preinscrito?</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="member">
                                Si
                            </label>
                            <label class="radio">
                                <input type="radio" name="member">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Asunto</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-danger" type="text" placeholder="ej. Peticion de datos" name="asunto">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Mensaje</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" placeholder="Tu mensaje aqui" name="mensaje"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">
                                Enviar mensaje
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>