<section class="section firstContent columns is-multiline is-centered">
    <div class="column is-two-thirds" lado="izquierdo">
        <div class="columns">
            <div class="column notification is-primary is-4">
                <h2 class="title">Horarios Mixtos</h2>
                <div class="">
                    <p>El plan de estudios está diseñado para cursarse tanto en línea como presencial, por medio de una
                        plataforma en la cual se puede compartir material y se mantiene un espacio de interacción
                        entre docente y estudiante. </p>
                </div>
                <a class="sprite sprite-btn-more mobile-hide" href="/conocenos">Conoce Más</a>
            </div><!-- .col -->
            <div class="column">
                <figure class="image is-2by1">
                    <img src="/images/student1.jpg">
                </figure>
            </div>
        </div><!-- div.row -->
    </div><!-- div.container -->

    <div class="column is-two-thirds" lado="derecho">
        <div class="columns">
            <div class="column">
                <figure class="image is-2by1">
                    <img src="/images/student2.jpg">
                </figure>
            </div>
            <div class="column notification is-primary is-4 animated">
                <h2 class="title">Maestros de la mas alta categoria</h2>
                <div class="">
                    <p>Nuestra planta académica constituida por docentes con gran experiencia, en su mayoría con grado
                        de Doctorado.</p>
                </div>
                <a class="sprite sprite-btn-more mobile-hide" href="/planta-docente">Conoce Más</a>
            </div><!-- .col -->
        </div><!-- div.row -->
    </div><!-- div.container -->

    <div class="column is-two-thirds" lado="izquierdo">
        <div class="columns">
            <div class="column notification is-primary is-4">
                <h2 class="title">Intercambios</h2>
                <div class="">
                    <p>Actualmente contamos con varios convenios con Instituciones de otros países lo que permite
                        realizar actividades entre las que se contemplan intercambios.
                    </p>
                </div>
                <a class="sprite sprite-btn-more mobile-hide" href="/conocenos">Conoce Más</a>
            </div><!-- .col -->
            <div class="column">
                <figure class="image is-2by1">
                    <img src="/images/student3.jpg">
                </figure>
            </div>
        </div><!-- div.row -->
    </div><!-- div.container -->

</section>