<section class="footer section has-background-black">
    <div class="columns is-centered is-vcentered has-text-light">
        <div class="column is-1 is-paddingless is-marginless columns is-centered">
            <img src="/images/cisde-noname.png" alt="" width="100px">
        </div>
        <div class="column is-3">
            <p>Telefono de contacto: 2225-25-25-42</p>
        </div>
        <div class="column is-3">
                <p>Email: info@cisde.edu.mx</p>
            </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="https://www.facebook.com/Cisde.edu/">
                        <span class="icon is-large">
                            <i class="fab fa-facebook-square"></i>
                        </span>
                    </a>
                    <a>
                        <span class="icon is-large">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                    <a>
                        <span class="icon is-large">
                            <i class="fab fa-linkedin"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>