<section class="section iconos">
    <div class="columns">
        <div class="column">
            <span class="icon is-large">
                <i class="fas fa-briefcase"></i>
            </span>
            <div class="is-hidden">
                <div class="column is-three-quarters notification is-primary">
                    <button class="delete"></button>
                    <p class="title">Administración y Gestión Estratégica</p>
                    <p>Este posgrado se orienta a formar profesionales desde una perspectiva multidisciplinaria en
                        administración y gestión estratégica, que participen como expertos y asesores en el ejercicio de
                        la administración pública y gestión estratégica, ejerciendo las capacidades analíticas,
                        metodológicas y técnicas necesariaspara desarrollar asimismo, investigación de calidad que
                        seinserte en los debates nacionalesactuales relacionados con lassiguientes líneas de
                        investigaciónbásicas: políticas públicas,administración y gestión pública, gobernabilidad y
                        gobernanza, sociedad y comunicación políticas.</p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
            </div>
            <p class="title">Doctorados</p>

        </div>
        <div class="column">
            <span class="icon is-large">
                <i class="fas fa-chart-line"></i>
            </span>
            <div class="is-hidden">
                <div class="column is-one-quarter notification is-success">
                    <button class="delete"></button>
                    <p class="title">Maestría en Comunicación Política y Marketing</p>
                    <p>Este programa se orienta al análisis de los procesos de la Comunicación Política y del Marketing
                        Político con el fin de formar profesionales que participen como expertos y asesores en la
                        gestión de campañas electorales, de organizaciones políticas y en la comunicación de gobiernos
                    </p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
                <div class="column is-one-quarter notification is-success">
                    <button class="delete"></button>
                    <p class="title">Maestría en Políticas Públicas y Gestión Estratégica</p>
                    <p>Este programa se orienta a
                        desarrollar competencias
                        profesionales tales como el análisis,
                        la formulación, instrumentación y
                        evaluación que le permitan
                        interactuar en el ámbito de las
                        políticas públicas con el propósito
                        de realizar gestión en los distintos
                        niveles de gobierno.
                    </p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
                <div class="column is-one-quarter notification is-success">
                    <button class="delete"></button>
                    <p class="title">Maestría en Alta Dirección Educativa y Supervisión Escolar</p>
                    <p>Este posgrado se orienta a formar
                        profesionistas sólidamente
                        preparados y capaces de
                        desempeñarse como altos
                        directivos de Instituciones
                        Educativas, consultores educativos,
                        supervisores escolares y gestores de
                        la educación; a través de una
                        formación integral que combina la
                        formación académica, investigativa
                        y multicultural con las competencias
                        profesionales y valores éticos y
                        humanísticos que favorezcan los
                        procesos educativos en México.
                    </p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
            </div>
            <p class="title">Maestrias</p>
        </div>
        <div class="column">
            <span class="icon is-large">
                <i class="fas fa-user-graduate"></i>
            </span>
            <div class="is-hidden">
                <div class="column is-one-quarter notification is-danger">
                    <button class="delete"></button>
                    <p class="title">Licenciatura en Derecho</p>
                    <p>El programa tiene se orienta a la
                        formación de profesionistas con
                        pensamiento crítico y
                        conocimientos integrales de la
                        ciencia jurídica, que le permitan
                        intervenir y dar soluciones con
                        compromiso social a los problemas
                        que le demande su práctica
                        profesional, así como para
                        continuar formándose en la
                        investigación jurídica, mediante la
                        capacitación en su disciplina y un
                        amplio conocimiento de su entorno
                        social, la ciencia y técnica jurídicas,

                        Al finalizar el plan de estudios, el
                        egresado deberá distinguirse por
                        tener el siguiente perfil:
                        Conocimientos
                        - Adquirir contenidos universales,
                        significativos, vigentes e
                        innovadores en las áreas del
                        Derecho Público y Privado,
                        específicamente el Derecho
                        Civil, Penal, Administrativo,
                        Laboral, Fiscal, Mercantil,
                        Internacional y otros derechos
                        especiales
                        - Conocer las diferentes ramas

                        que le permitan competir
                        exitosamente en el mercado
                        laboral.</p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
                <div class="column is-one-quarter notification is-danger">
                    <button class="delete"></button>
                    <p class="title">Licenciatura en Animación y Diseño Digital</p>
                    <p>El programa tiene se orienta a la
                        formación de profesionistas
                        altamente competentes para la
                        creación, diseño, evaluación y
                        gestión de estrategias en la
                        realización de proyectos y
                        productos de animación, efectos
                        visuales y producción en 3D,
                        mediante el dominio de aspectos
                        técnicos y creativos de las artes
                        visuales digitales para asegurar la
                        calidad de los productos y servicios
                        de esta disciplina.</p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
                <div class="column is-one-quarter notification is-danger">
                    <button class="delete"></button>
                    <p class="title">Licenciatura en Administración y Negocios Internacionales</p>
                    <p>El programa tiene se orienta al
                        fortalecimiento de la creación y
                        desarrollo de micro, pequeñas,
                        medianas y grandes empresas,
                        mediante la aplicación de técnicas
                        de planeación, organización,
                        dirección y control para el
                        aprovechamiento óptimo de los
                        recursos humanos, financieros,
                        materiales y técnicos, en un
                        entorno estatal, nacional y global
                        con ética y sentido de
                        responsabilidad social.</p>
                    {{/*  <a class="button is-light">Success</a>  */}}
                </div>
            </div>
            <p class="title">Licenciaturas</p>

        </div>
        <div class="column">
            <span class="icon is-large">
                <i class="fas fa-check-double"></i>
            </span>
            <div class="is-hidden">
            </div>
            <p class="title">Certificaciones</p>
        </div>
    </div>
    <div class="notificaciones columns is-centered">
        <div class="column is-three-quarters notification is-primary">
            <button class="delete"></button>
            <p class="title">Administración y Gestión Estratégica</p>
            <p>Este posgrado se orienta a formar profesionales desde una perspectiva multidisciplinaria en
                administración y gestión estratégica, que participen como expertos y asesores en el ejercicio de
                la administración pública y gestión estratégica, ejerciendo las capacidades analíticas,
                metodológicas y técnicas necesariaspara desarrollar asimismo, investigación de calidad que
                seinserte en los debates nacionalesactuales relacionados con lassiguientes líneas de
                investigaciónbásicas: políticas públicas,administración y gestión pública, gobernabilidad y
                gobernanza, sociedad y comunicación políticas.</p>
            {{/*  <a class="button is-light">Success</a>  */}}
        </div>
    </div>
</section>