<section class="valores-hero section hero is-success is-medium">
    <div class="columns is-centered">
        <div class="column is-one-third is-size-4">
            <div class="tabs is-size-4 is-centered is-toogle">
                <ul>
                    <li class="is-active">
                        <a>Mision</a>
                        <div class="is-hidden">
                            <div class="title">¿Qué queremos?</div>
                            <p>Formar estrategas de clase mundial con el más alto nivel técnico en el ámbito público en
                                sus
                                distintas variables de actuación, generando la aceptación y confianza de la sociedad.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a>Vision</a>
                        <div class="is-hidden">
                            <div class="title">¿A dondé vamos?</div>
                            <p>Ser una Institución vanguardista que proporcione las herramientas para la mejora de la
                                administración pública y contribuya directamente en el beneficio de la sociedad.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a>Valores</a>
                        <div class="is-hidden">
                            <div class="title">¿En qué creemos?</div>
                            <p>Los valores que rigen el comportamiento de todos los colaboradores de CISDE son los
                                siguientes:
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Excelencia: los
                                        estudios de posgrado, así como los productos y servicios que ofrece el CISDE,
                                        deben producirse de acuerdo a los más altos niveles de desempeño existente.</li>
                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Oportunidad: el
                                        estudiante y el cliente del CISDE deben recibir los productos y servicios que
                                        solicitan en el plazo comprometido y, de ser posible, adelantarse a las
                                        expectativas que se tengan al respecto.</li>
                                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Prospectividad:
                                        todos los productos y servicios del CISDE deben producirse en términos de
                                        estudios e investigaciones de frontera, delineando el estándar.</li>
                                </ul>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nosotros-text">
                <div class="title">¿Qué queremos?</div>
                <p>Formar estrategas de clase mundial con el más alto nivel técnico en el ámbito público en sus
                    distintas variables de actuación, generando la aceptación y confianza de la sociedad.</p>
            </div>
        </div>
    </div>
</section>